* {
	margin: 0;
	padding: 0;
	border-radius: 0px;
	box-sizing: border-box;
	color: #53a1b3;
}
body {
	box-sizing: inherit;
	width: 310px;
	height: 400px;
	background-color: #141e24;
	border: 2px solid rgb(131, 121, 107);
	/* border-bottom-right-radius: 5px; */
	border-radius: 7px;
	/* color: #e96c4c; */
	padding: 5px;
}

h1 {
	color: #e96c4c;
	text-transform: uppercase;
	font-weight: 1000;
	font-size: 2.5em;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	text-align: center;
	margin-bottom: 10px;
	border-bottom: 2px solid #53a1b3;
	position: sticky;
	top:0;
}
.user-input {
	box-sizing: inherit;
	width: 280px;
	padding: 4px;
	border-radius: 3px;
	border: none;
	margin: 10px;
	/* background-color: aliceblue; */
	border-left: 2px solid;
	border-left-color: #e96c4c;
}
.user-input::placeholder {
	color: #141e24;
	font-weight: 100;
}
.user-input::selection {
	background-color: transparent;
}
.btn {
	padding: 5px;
	border: 1px solid white;
	border-radius: 5px;
	background: transparent;
	color: #e96c4c;
	margin: 5px;
	border: 1.5px solid #53a1b3;
	padding-left: 10px;
	padding-right: 10px;
	/* color: white; */
}
.btn-container {
	display: flex;
	justify-content: center;
}

.primary-color {
	color: rgb(131, 121, 107);
}
