* {
	margin: 0;
	padding: 0;
	border-radius: 0px;
	box-sizing: border-box;
	color: #53a1b3;
}
html {
	max-width: 310px;
	max-height: 400px;
	/* background: linear-gradient(#2193b0,#6dd5ed); */
}
.body {
	box-sizing: inherit;
	width: 310px;
	height: 400px;
	border: 2px solid grey;
	/* border-bottom-right-radius: 5px; */
	border-radius: 7px;
	/* color: #e96c4c; */
	/* padding: 5px; */
	overflow-y: auto;
	overflow-x: hidden;
	box-sizing: content-box;
}

h1 {
	color: #e96c4c;
	text-transform: uppercase;
	font-weight: 1000;
	font-size: 2.5em;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	text-align: center;
	margin-bottom: 10px;
	border-bottom: 2px solid #53a1b3;
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 5;
}
.user-input {
	
	/* background-color: aliceblue; */
	border-left: 2px solid;
	border-left-color: #e96c4c;
	font-weight: bold;
}

.user-input::selection {
	background-color: transparent;
}
input:focus {
	outline: 0;
}
.btn {
	padding: 5px;
	border: 1px solid white;
	border-radius: 5px;
	background: transparent;
	color: #e96c4c;
	margin: 5px;
	border: 1.5px solid #53a1b3;
	padding-left: 10px;
	padding-right: 10px;
	/* color: white; */
	transition: all 500ms;
	font-weight: 700;
	
}
.btn:focus {
	outline: 0;
}
.btn:hover {
	color: #141e24;
	border: 1.5px solid transparent;
	background-color: #e96c4c;
}
.btn-container {
	display: flex;
	justify-content: center;
}

.primary-color {
	color: rgb(131, 121, 107);
}
.keyword-element {
	border-radius: 5px;
	margin: 2px;
	padding: 5px;
	width: 95%;
	border: 2px solid grey;
	margin: 4px auto;
	font-size: 16px;
	/* width: max-content; */
}

